*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/**********************************bloque n°1**************************************************/
#boite_principale1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 20px;
    background-color: white;
  }
#boite_secondaire1{
    display: flex;
}
  
.boite {
    margin: 10px;
  }
  
.boite.un {
    width: 50px; 
    height: 30px; 
    background-color: red;
  }
  
.boite.deux {
    width: 100px; 
    height: 30px; 
    background-color: blue;
  }
 
.boite.trois, .boite.quatre {
    width: 50px;
    height: 30px;
    background-color: green;
    border-radius: 50%;
  }
  
.boite.cinq, .boite.six {
    width: 50px;
    height: 30px;
    background-color: green;
  }
/********************************bloque n°2******************************************************/
#boite_principale2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 20px;
    background-color: black;
}
#boite_secondaire2{
    display: flex;
}
.boite.sept{
    border-radius: 10px 5px 10px 5px;
    width: 100px; 
    height: 50px; 
    background-color: rgb(0, 255, 213);
}
.boite.huit, .boite.neuf,.boite.dix, .boite.onze, .boite.douze, .boite.treize{
    width: 50px;
    height: 20px;
    background-color: rgb(102, 105, 102);
  }
.boite.quatorze {
    width: 50px;
    height: 25px;
    background-color: #e4120b;
  }
/********************************bloque n°3******************************************************/
#boite_principale3 {
  background-color: grey;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#boite_principale3 .sous-block1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  height: 95%;
  width: 60%;
  
  margin: 10px;
}

.item1 {
  background-color: black;
  height: 15%;
  width: 100%;
  margin: 5px;
}

.item2 {
  background-color: black;
  height: 55%;
  width: 100%;
  margin: 5px;
}

.item3 {
  background-color: black;
  height: 70px;
  width: 200px;
  border-radius: 7%;
  margin: 5px;
}

.sous-block2 {
  display: grid;
  justify-items: stretch;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  background-color: black;
  height: 95%;
  width: 40%;
  margin: 5px;
}

.item4 {
  background-color: white;
  height: 75%;
  width: 80%;
  grid-row: span 2; 
}

.item5 {
  background-color: white;
  height: 48%;
  width: 80%;
  
}

.item6 {
  background-color: white;
  height: 48%;
  width: 80%;
}






  
/********************************bloque n°4******************************************************/
#boite_principale4{
   
   
}

  
/********************************bloque n°5******************************************************/
#boite_principale5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    padding: 20px;
    background-color: white;
}
#boite_secondaire2{
    display: flex;
}
/********************************bloque n°6******************************************************/
#boite_principale6{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    padding: 20px;
    background-color: grey;
}
#boite_secondaire2{
    display: flex;
}
/********************************bloque n°7******************************************************/
#boite_principale7{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    padding: 20px;
    background-color: white;
}
#boite_secondaire2{
    display: flex;
}
/********************************bloque n°8******************************************************/
#boite_principale8{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    padding: 20px;
    background-color: grey;
}
#boite_secondaire2{
    display: flex;
}
/********************************bloque n°9******************************************************/
#boite_principale9{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    padding: 20px;
    background-color: white;
}
#boite_secondaire9{
    display: flex;
}
#boite_secondaire9box{
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    height: 200px;
    
}
.flex.box1{
    width: 50px;
    height: 25px;
    background-color: #e4120b;
}
.flex.box2,.flex.box3,.flex.box4,.flex.box5,.flex.box6,.flex.box7{
    flex: 0 0 15%;
    background-color: rgb(0, 255, 213);
    padding: 20px 0px;
    
}
/********************************bloque n°10******************************************************/
#boite_principale10{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 20px;
    background-color: black;
}
#boite_secondaire10{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.flex{
    margin: 10px;
}
.flex.itm1{
    border-radius: 10px 5px 10px 5px;
    width: 100px; 
    height: 50px; 
    background-color: rgb(0, 255, 213);
}
.flex.itm2,.flex.itm3,.flex.itm4,.flex.itm5,.flex.itm6,.flex.itm7,.flex.itm8,.flex.itm9,.flex.itm10,.flex.itm11,.flex.itm12{
    width: 50px;
    height: 20px;
    background-color: rgb(102, 105, 102);
}

